form{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 30px;
  margin-left: 50px;
  color: white;
}
input, label{
  display: block;
  width: 100%;
}
textarea{
  resize:none;
}
textarea, label{
  display: block;
  width:100%;
  max-width: 100%;
}
button{
  margin-top:1rem;

}