@import '../layout/variables.css';

.main{
  background-color:var(--trans_cream);
  h3, h4 {
    color:var(--dark_green);
  }
  
  h3{
    margin: 0;
    padding:10px;
    background-color: var(--light_green)
  }
  h4{
    margin:0;
  }

  position:relative;
  margin-left: var(--margin);
  margin-right: var(--margin);
  overflow:hidden;
  border-radius: 150px 0 0 0px;
  @media (min-width: 720px){
    border-radius: 200px var(--corner_radius) var(--corner_radius) 200px;
  }
}

.bubble{
  box-sizing: border-box;
  z-index:2;
  float:left;
  height:400px;
  width:400px;
  margin-right:10px;
  border-radius: 200px 0px 200px 0;
  shape-outside: polygon(100% 15.33%, 100.32% 62.33%, 96.1% 72.79%, 88.62% 84.83%, 79.38% 92.96%, 65.78% 100.19%, 0% 100%);
  @media (min-width: 720px){
    border-radius:100%;
    shape-outside: circle(50%);
  }
}



.text_container{
  padding: 2% 0;
  p{
    color: var(--cream);
    margin:0;
  }

}
.center{
  height:354px;
  padding: 1% 0;


}
