.div {
  h1{
    font-size:20px;
  }
  color: silver;
  padding: 10px;
  code{
    color: black;
    background-color: white;
    margin-right:.2em;
    padding:1px;
  }
  code:after{
    letter-spacing:-1em;
    
  }
  a{
    color:green;
  }
  pre{
    background-color: black;
    padding:0;
    width:100%;
    code{
      background-color: inherit;
      color:white;
    }
  }
}
.img{
  height: 350px;
  margin-bottom:18px;
  @media(min-width: 720px){
    width:100%;
    height: auto;
    margin: 0 auto 40px auto;
  }
}
.title{
  padding-top:100px;
  text-align:center;
  color:#c0c0c0;
  font-size:20px;
}
.description{
  text-align:center;
  color:#c0c0c0
}

.layout{
  @media(min-width: 720px){
    margin-left:10%;
    margin-right:10%;
  }
}