.div {
  color: silver;
  padding: 10px;
  code{
    color: black;
    background-color: white;
    margin-right:.2em;
    padding:1px;
  }
  code:after{
    letter-spacing:-1em;
  }
  a{
    color:green;
  }
  pre{
    background-color: grey;
    code{
      background-color: inherit
    }
  }
  
}