@import '../../layout/variables.css';
.main{
  h1{
    padding-left:18px;
    background-color:var(--dark_green);
 
  }
}
.ul{
  margin-top:150px;
}
.heading{
  margin-top:20px;
  display:flex;
  flex-direction:row;
  div{
    flex-grow: 1;
  }

  h1{
    margin:auto;
    border: 2px solid var(--light_green);
    padding:10px;
  }
}