@import '../../layout/variables.css';

.main{
  margin-top:100px;
  margin-bottom:200px;
  width:calc(50% + 100px);
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:50px;
  
}
.main_right{
  margin-top:50px;
  margin-bottom:200px;
  width:calc(50% + 100px);
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-left:auto;
  height:50px;
}
.x_axis{
  position:relative;
  width: calc(100% - 200px);
}

.y_axis{
  height:100px;
  top:-50px;
  position:absolute;
  padding-left:18px;
  padding-right:50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}
.y_axis_right{
  height:100px;
  top:-50px;
  position:absolute;
  padding-right:18px;
  padding-left:50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}
.bubble{
  position:relative;
  height:200px;
  width:200px;

  border-radius:100%;
  overflow: hidden;
}
.bubble_right{
  position:relative;
  height:200px;
  width:200px;

  border-radius:100%;
  overflow: hidden;
  order:-1;

}

.leader_right{
  margin-right:auto;
  border:1px solid var(--light_green);
  height: 1px;
  width:50px;
}
.leader{
  margin-left:auto;
  border:1px solid var(--light_green);
  height: 1px;
  width:50px;
}


.text_container{
  padding:18px;
  border-radius: 20px;
  h3, h4{
    margin:0;
    color: var(--light_green);
  }
  h5{
    color: var(--light_green); 
  }
}

.ul{
  background-color: var(--trans_cream);
  border-radius:20px;
}