.icons{
  display:none;
  color:white;
  width: 40vw;
  padding:20px;
}

.icons .title{
  color:#99CC00;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  margin-left: 0;
}

.icons .about{
  font-size: 1.1rem;
  padding-bottom: 2rem;
  margin-left: 0;
  height: 100%;
}

@media (min-width: 720px){
.icons{

  display:flex;
}
}
