@import '../layout/variables.css';
.footer{
  border-top:1px solid var(--light_green);
  color:var(--cream);
  height: 50px;
  display:flex;
  background-color:var(--dark_green);
  width:100%;
  justify-content:center;
  align-items: center;
  p{
    margin:auto;
  }

}