@import '../layout//variables.css';


header{
  padding-right: var(--margin);
  padding-left: var(--margin);
  color:var(--cream);
  background: var(--dark_green);
  border-bottom:1px solid var(--cream);
  display: flex;
  position:fixed;
  align-items: center;
  z-index: 75;
  width: 100vw;
  height:56px;
  svg{
    
    width:50px;
     @media(min-width:720px){
      width:130px;
    }
    height: 50px;
  }
  ul{
    display:flex;
    margin-left:auto;
    align-items:center;
    font-size:.7rem;
  }
  li{
    margin: 0 15px 0 0;
  }
  a{
    font-size:.8rem
  }
}
@media (min-width: 720px) {
  header a{
    font-size:1.2rem;
  }
}

.navOptions{
  li:hover{
    color:var(--cream)
  }
}
.navOptions li:last-child{
  margin:0;
}
.logo{
  fill:var(--cream);
  display:none;
  @media(min-width:720px){
    display:flex;
  }
}
.mobile_logo{
  fill:var(--cream);
  position:relative;
  top: 3px;
  @media(min-width:720px){
    display:none;
  }
}