@import '../components/layout//variables.css';

.spacer{
  height:75px;
}

.blogThumbnail{
  border: 2px solid var(--light_green);
  padding: 10px;
  border-radius: var(--corner_radius);
  color: var(--cream);
  margin: var(--margin);


}
.blogThumbnail:hover{
  border: 2px solid var(--cream);
}
.description{
  padding-top:1em;
}

.title{

  margin-bottom:0;
}