.spacer{
  height:75px;
}

.blogThumbnail{
  border: 2px solid #99cc00;
  padding: 10px;
  border-radius: 5px;
  color:silver;
  margin: 0 10px 20px 10px;
}
.blogThumbnail:hover{
  border: 2px solid white;
}